body {
  font-size: 2em;
}
.soc_icons {
  margin-top: 30px;
}
.portfolio_item {
  padding: 1em;
  background-color: blanchedalmond;
  border: 2px solid white;
}
.portfolio_item img {
  max-width: 200px;
}