body {
  font-size: 1.7em;
}
.soc_icons {
  margin-top: 27px;
}
.portfolio {
  margin-top: 2em;
  background-color: blanchedalmond;
}
.portfolio_item {
  margin-bottom: 20px;
}
.portfolio_item p {
  padding: 10px;
  min-height:;
}
.portfolio_item img {
  min-width: 80%;
}
