body {
  font-size: 1.7em;
}
.soc_icons {
  margin-top: 27px;
}
.portfolio {
  margin-top: 5em;
  background-color: blanchedalmond;
}
.portfolio_item {
  padding: 0 1em 1em;
  text-align: center;
}
.portfolio_item img {
  max-width: 200px;
}